{
  "presets": ["stage-2"],
  "plugins": [
    ["transform-async-to-generator"],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "classes": "./src/classes",
        "store": "./src/store",
        "utils": "./src/utils",
        "models": "./src/models",
        "mining": "./src/mining",
        "db": "./src/db",
        "__mocks__": "./__mocks__"
      },
      "cwd": "babelrc"
    }],
  ]
}
